<div class="col-md-6 offset-3"><br><br><br><br>
    <mat-card>
        <div class="wrapper">
            <div class="wrapped-div">
                <div class="tab-header">
                    <h2 routerLink='/user/login' routerLinkActive='active'>Sign In</h2>
                </div>
            </div>
            <div class="wrapped-div">
                <div class="tab-header">
                    <h2 routerLink='/user/register' routerLinkActive='active'>Sign Up</h2>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </mat-card>
</div>